@import "tailwindcss";

@font-face{
    font-family: tinos;
    src: url("../src/fonts/Tinos-Regular.ttf");
}

.container{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px;
}

.hero{
    background: url("../assets/hero\ image.svg") no-repeat center/cover;
}


.card{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}